<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация об аккаунте</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <style>
        div {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .column-container {
            display: flex;
        }

        .column {
            flex: 1; /* Ensures both columns take up equal width */
            padding: 10px;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<header>
    <h1>Управление банковскими аккаунтами</h1>
</header>
<div>
    <h2>Панель управления аккаунтом</h2>
</div>
<br/>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Баланс</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${account.getId()}"></td>
        <td th:text="${account.getBalance()}"></td>
    </tr>
    </tbody>
</table>
<div>
    <h2>Информация об аккаунте</h2><br/>
</div>
<div class="column-container">
    <div class="column" th:if="${isOwner}">
    <p>Список пользователей, имеющих доступ к аккаунту:</p>
    <table>
        <tbody>
        <tr th:each="user : ${usersWithAccess}">
            <td th:text="${user.getLogin()}"></td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="column">
        <h3>Изменение баланса</h3>
        <form th:action="@{'/accounts/' + ${account.getId()} + '/deposit'}" th:object="${balanceChangeDTO}"
              th:method="post">
            <label for="amount">Введите сумму:</label><br/>
            <input type="number" id="amount" name="amount" step="0.01" min="0" required th:value="0.00"
                   th:field="*{amount}"><br/>
            <button type="submit">Увеличить(+)</button>
            <button type="submit" th:formaction="@{'/accounts/' + ${account.getId()} + '/withdrawal'}">Уменьшить(-)
            </button>
        </form>
    </div>
    <div class="column" th:if="${isOwner}">
        <h3>Управление доступом</h3>

        <form th:action="@{'/accounts/' + ${account.getId()} + '/grantment'}" th:object="${accessUser}"
              th:method="post">
        <label for="person">Изменить права доступа пользователей</label><br/>
        <select id="person" name="person" th:field="*{login}">
            <option th:each="user : ${users}" th:value="${user.login}" th:text="${user.login}"></option>
        </select><br/>
            <button type="submit">Дать доступ</button>
        <button type="submit" th:formaction="@{'/accounts/' + ${account.getId()} + '/revocation'}">Отозвать доступ</button>
    </form>
    </div>
</div>

<button th:href="@{/accounts}" onclick="window.location.href='/accounts';">Назад</button>
</body>
<footer>
    <p>&copy; 2024 Команда "Байтсы"<br/>Микросервис по управлению юридическим счетом</p>
</footer>
</html>