<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои аккаунты</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Управление банковскими аккаунтами</h1>
</header>
<h2><span th:text="'Здравствуйте, ' + ${user.getLogin()} + '!'"></span></h2>
<p>Доступные вам аккаунты</p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Баланс</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.getId()}"></td>
        <td th:text="${account.getBalance()}"></td>
        <td>
            <form th:action="@{'/accounts/{id}'(id=${account.getId()})}" th:method="get">
                <button type="submit" class="btn">Подробнее</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{'/accounts'}" th:method="post">
    <button type="submit" class="btn">Создать новый аккаунт</button>
</form>
<footer>
    <p>&copy; 2024 Команда "Байтсы"<br/>Микросервис по управлению юридическим счетом</p>
</footer>
</body>
</html>