<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Доступные аккаунты</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<header>
    <h1>Управление юридическими счетами</h1>
</header>
<h2><span th:text="'Здравствуйте, ' + ${user.getLogin()} + '!'"></span></h2>
<p>Доступные вам счета</p>
<div id="userAccountsList">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Баланс</th>
            <th>Детали</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accounts}">
            <td th:text="${account.getId()}"></td>
            <td th:text="${account.getBalance()}"></td>
            <td>
                <form th:action="@{'/accounts/{id}'(id=${account.getId()})}" th:method="get">
                    <button type="submit" class="btn">Подробнее</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="buttonTableDiv">
        <table class="buttonTable">
            <tbody>
            <tr class="buttonRow">
                <td class="buttonCell">
                    <form th:action="@{'/auth/start'}" th:method="get">
                        <button type="submit" class="btn" style="text-align: center">Создать<br/> нового пользователя
                        </button>
                    </form>
                </td>
                <td class="buttonCell">
                    <form th:action="@{'/accounts'}" th:method="post">
                        <button type="submit" class="btn" style="text-align: center">Создать<br/> новый счет</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div>


<footer>
    <p>&copy; 2024 Команда "Байтсы"<br/>Микросервис по управлению юридическими счетами</p>
</footer>
</body>
</html>