<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация об аккаунте</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<header>
    <h1>Управление юридическими счетами</h1>
</header>
<div>
    <h2>Информация о счете</h2>
</div>
<br/>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Баланс</th>
    </tr>
    </thead>
    <tbody>
    <tr class="accountRow">
        <td th:text="${account.getId()}"></td>
        <td th:text="${account.getBalance()}"></td>
    </tr>
    </tbody>
</table>
<div>
    <h2>Панель управления счетом</h2><br/>
</div>
<div class="column-container">
    <div class="column" th:if="${isOwner}" id="partnersList">
        <h3>Редакторы счета</h3>
        <p>Список пользователей:</p>
        <table id="partnersTable">
            <thead>
            <tr class="partnersRow">
                <th>№</th> <!-- Добавить заголовок столбца -->
                <th>Логин</th>
            </tr>
            </thead>
        <tbody>
        <tr th:each="user, status : ${usersWithAccess}" class="partnersRow">
            <td class="partnersCell" th:text="${status.count}"></td> <!-- Добавить номер строки -->
            <td class="partnersCell" th:text="${user.getLogin()}"></td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="column" id="balanceChange">
        <h3>Изменение баланса</h3>
        <form th:action="@{'/accounts/' + ${account.getId()} + '/deposit'}" th:object="${balanceChangeDTO}"
              th:method="post">
            <label for="amount">Введите сумму:</label><br/>
            <input type="number" id="amount" name="amount" step="0.01" min="0.01" required th:value="0.00"
                   th:field="*{amount}"><br/>
            <button type="submit" style="margin: 5px">Увеличить(+)</button>
            <button type="submit" th:formaction="@{'/accounts/' + ${account.getId()} + '/withdrawal'}"
                    style="margin: 5px">Уменьшить(-)
            </button>
        </form>
    </div>
    <div class="column" th:if="${isOwner}" id="accessChange">
        <h3>Управление доступом</h3>

        <form th:action="@{'/accounts/' + ${account.getId()} + '/grantment'}" th:object="${accessUser}"
              th:method="post">
        <label for="person">Изменить права доступа пользователей</label><br/>
        <select id="person" name="person" th:field="*{login}">
            <option th:each="user : ${users}" th:value="${user.login}" th:text="${user.login}"></option>
        </select><br/>
            <button type="submit" style="margin: 5px">Дать доступ</button>
            <button type="submit" th:formaction="@{'/accounts/' + ${account.getId()} + '/revocation'}"
                    style="margin: 5px">Отозвать доступ
            </button>
    </form>
    </div>
</div>

<button th:href="@{/accounts}" onclick="window.location.href='/accounts';">Назад</button>
</body>
<footer>
    <p>&copy; 2024 Команда "Байтсы"<br/>Микросервис по управлению юридическими счетами</p>
</footer>
</html>