<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

</head>
<body>
<header>
    <h1>Управление юридическими счетами</h1>
</header>
<h2>Произошла ошибка!</h2>
<p th:text="${errorText}"></p>
<button th:href="@{/accounts}" onclick="window.location.href='/accounts';">На главную</button>

<button id="backButton" th:href="@{${revertAddress}}">Назад</button>
<script>
    document.querySelector('#backButton').addEventListener('click', function () {
        window.location.href = this.getAttribute('href');
    });
</script>
<footer>
    <p>&copy; 2024 Команда "Байтсы"<br/>Микросервис по управлению юридическими счетами</p>
</footer>
</body>
</html>