<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<header>
    <h1>Управление юридическими счетами</h1>
</header>
<h2>Войдите в аккаунт</h2>
<div class="middle-column" id="loginForm">
    <form name="f" th:action="@{/perform-login}" method="post">
            <div th:if="${param.error}" class="alert alert-error">
                Неправильные логин и пароль.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
        <label for="user"><b>Логин</b></label><br/>
            <input type="text" id="user" name="user" required/><br/>
        <label for="pass"><b>Пароль</b></label><br/>
            <input type="password" id="pass" name="pass" required/><br/>
        <button type="submit" class="btn">Вход</button>
    </form>
</div>
<footer>
    <p>&copy; 2024 Команда "Байтсы"<br/>Микросервис по управлению юридическими счетами</p>
</footer>
</body>
</html>