<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Успешная регистрация</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<header>
    <h1>Управление банковскими аккаунтами</h1>
</header>
<h2>Новый аккаунт успешно создан!</h2>
<p>Вы можете посмотреть доступные вам банковские аккаунты</p>
<table class="buttonTable">
    <tbody>
    <tr class="buttonRow">
        <td class="buttonCell">
            <form th:action="@{'/auth/register'}" th:method="get">
                <button type="submit" class="btn">Назад</button>
            </form>
        </td>
        <td class="buttonCell">
            <form th:action="@{'/accounts'}" th:method="get">
                <button type="submit" class="btn">Посмотреть аккаунты</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<footer>
    <p>&copy; 2024 Команда "Байтсы"<br/>Микросервис по управлению юридическим счетом</p>
</footer>
</body>
</html>